// base colors
$black: #212121;
$white: #fff;
$lighterGray: #ecf0f1;
$lightGray: #bdc3c7;
$gray: #9aa1a5;
$darkGray: #2c3e50;
$red: #d9605a;
$mainDark: #191f2b;
$lightDark: #222a37;
$lightBlue: #58b2dc;
$lighterBlue: #92c6df;
$green: #329B24;

// font weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;

// fonts
$montserrat: 'Montserrat', sans-serif;
